@import "../../../../core/style/App.scss";
/* ==========================================================================
   Elements - button
   ========================================================================== */
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 24px;
  outline: 0;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  @include font-size(16);
  font-weight: 800;
  color: color(white);
  background-color: transparent;
}
// btn-primary
.btn--primary {
  background-color: color(primary);
  padding: 25px 72px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  @include large {
    padding: 20px 64px;
  }
  @include medium {
    padding: 18px 54px;
  }
  @include small {
    padding: 14px 44px;
    @include font-size(14);
  }
  &:hover {
    background-color: color(white);
    color: color(primary);
    transition: all 0.4s ease;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
    transform: translateY(-4px);
  }
}
.btn--secondary {
  background-color: color(white);
  border: solid 1px color(primary);
  color: color(primary);
  min-width: 200px;
  @include font-size(16);
  font-weight: fw(semi-bold);
  &:hover {
    background-color: color(secondary);
    color: color(black);
  }
}

// btn-arrow
.btn--arrow {
  background-color: color(primary);
  color: color(white);
  @include font-size(18);
  line-height: 48px;
  outline: 0;
  border: 0;
  height: 48px;
  width: 48px;
  .fn-icon {
    position: relative;
    animation-name: fn-icon;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  @keyframes fn-icon {
    0% {
      left: -4px;
    }
    50% {
      left: 4px;
      color: color(secondary);
    }
    100% {
      left: -4px;
    }
  }
}

// btn-icons
.btn--icons {
  color: color(grey, 3);
  padding: 2px;
  @include font-size(24);
  line-height: 24px;
  height: 40px;
  width: 40px;
  &:hover {
    color: color(primary);
  }
}

// btn-ad-to-cart
.btn--add-to-cart {
  min-width: 92px;
  background-color: color(white);
  border: solid 1px color(primary);
  color: color(primary);
  @include font-size(16);
  font-weight: fw(semi-bold);
  border-radius: 2px;
  &:hover {
    background-color: color(primary);
    color: color(white);
    transition: all 0.4s ease;
  }
}

//cart
.btn--cart {
  padding: 16px 48px;
  min-width: 215px;
  border: solid 1px color(black);
  border-radius: 15px;
  @include font-size(20);
  color: color(black);
  font-weight: fw(regular);
  &:hover {
    border-color: color(primary);
    color: color(primary);
  }
}

// size
.btn--size {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: color(secondary);
  font-size: 13px;
  line-height: 14px;
  font-weight: fw(regular);
  color: color(black);
  padding: 0;
  &:hover {
    color: color(white);
    background-color: color(primary);
  }
}

//view more
.btn--view-more {
  padding: 0;
  color: color(grey, 2);
  @include font-size(20);
  font-weight: fw(medium);
}

