@import "../../../../core/style/App.scss";

.product {
  padding: 24px 0;
  &__title {
    @include font-size(40);
    text-align: center;
    margin-bottom: 32px;
    @include medium {
      @include font-size(32);
    }
    @include small {
      @include font-size(24);
      margin-bottom: 24px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: space-between;
    margin-bottom: 32px;
    @include extra-small {
      row-gap: 16px;
      margin-bottom: 24px;
    }
  }
  
}
