/* ==========================================================================
   Init: Default
   ========================================================================== */

body {
  font-family: Poppins;
  background-color: #fff;
  color: black;
  padding-bottom: 92px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
