.input {
  font-size: 16px;
  line-height: 24px;
  border: solid 1px #9f9f9f;
  border-radius: 10px;
  padding: 24px 32px;
  &:focus {
    background-color: color(primary);
  }
}

.i--primary {
  width: 423px;
}

.i--secondary {
  width: 452px;
  &:focus {
    border-color: color(secondary);
  }
}

.i--count {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 0;
  padding: 2px;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}

.i--checkbox {
  width: 30px;
  height: 28px;
  border-radius: 4px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
