@import "../../../../core/style/App.scss";

.feature {
    padding: 100px 0;
    background-color: color(secondary);
    overflow: hidden;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 6px 0;
        font-size: 0;
    }
    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        margin-right: 4px;
        &__el {
            display: block;
        }
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
    }
    &__title {
        @include font-size(24);
        font-weight: fw(semi-bold);
        margin-bottom: 2px;
        color: color(grey, 8);
    }
    &__desc {
        @include font-size(20);
        font-weight: fw(medium);
        margin-bottom: 0;
        color: color(grey, 9);
    }
}