@import "../../../../core/style/App.scss";

.feature {
    padding: 100px 0;
    background-color: color(secondary);
    overflow: hidden;
    @include large {
        padding: 64px 0;
    }
    @include medium {
        padding: 58px 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include medium {
            align-self: center;
            gap: 24px;
        }
        @include small {
            gap: 20px;
        }
    }
    &__item {
        padding: 6px 0;
        font-size: 0;
        @include large {
            padding: 0;
        }
        @include medium {
            flex: 40%;
            text-align: center;
        }
    }
    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        margin-right: 6px;
        @include large {
            width: 42px;
            display: block;
            margin-right: 0;
            margin-bottom: 4px;
        }
        @include medium {
            margin: 0 auto 6px auto;
            width: 38px;
        }
        &__el {
            display: block;
            width: 100%;
        }
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
    }
    &__title {
        @include font-size(24);
        font-weight: fw(semi-bold);
        margin-bottom: 2px;
        color: color(grey, 8);
        @include large {
            @include font-size(20);
            margin-bottom: 6px;
        }
        @include medium {
            @include font-size(18);
        }
        @include small {
            @include font-size(16);
        }
    }
    &__desc {
        @include font-size(20);
        font-weight: fw(medium);
        margin-bottom: 0;
        color: color(grey, 9);
        @include large {
            @include font-size(16);
        }
        @include small {
            @include font-size(14);
        }
    }
}   