@import "../../../../core/style/App.scss";

.section-browse__inner {
  height: 546px;
  width: 380px;
  cursor: pointer;
  text-align: center;
}

.section-browse__item {
  height: 480px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all .4s ease;
}

.section-browse__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slick-slide img {
  border: 2.5px solid white;
  box-sizing: border-box;
}

.section-browse__subtitle {
  @include font-size(24);
  font-weight: fw(semi-bold);
  margin-bottom: 0;
}
