@import "../../../../core/style/App.scss";

.filter {
  padding: 32px 0;
  background-color: color(secondary);
  @include large {
    padding: 30px 0;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  // form-left
  &__left {
    align-self: center;
    flex-basis: 50%;
    position: relative;
    @include medium {
      flex-basis: 100%;
    }
  }
  &__box {
    display: flex;
    @include medium {
      justify-content: space-between;
    }
    }
  &__list-btn {
    align-self: center;
    margin-right: 32px;
    font-size: 0;
    @include large {
      margin-right: 16px;
    }
    .btn--icons {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      @include font-size(18);
      margin: 0 12px;
      @include large {
        margin: 0 8px;
      }
    }
  }

  &__results {
    align-self: center;
    @include font-size(16);
    padding-left: 40px;
    border-left: solid 2px color(grey, 2);
    @include large {
      padding-left: 24px;
    }
    p {
      margin-bottom: 0;
    }
  }

  // form-right
  &__right {
    align-self: center;
    flex-basis: 50%;
    text-align: right;
    @include font-size(20);
    @include large {
      @include font-size(16);
    }
    @include  medium {
      flex-basis: 100%
    }
  }
  .showing {
    display: inline-block;
    vertical-align: middle;
    margin-right: 32px;
    span {
      @include font-size(16);
      margin-left: 16px;
    }
  }
  &__short {
    display: inline-block;
    vertical-align: middle;
    span {
      margin-right: 18px;
      @include large {
        margin-right: 12px;
      }
    }
    select {
      border: 0;
      outline: 0;
      padding: 12px 86px 12px 20px;
      color: color(grey, 2);
      @include radius(1);
    }
  }
}
