// @import "../../molecule/Banner/style.scss";
@import "../../../../core/style/App.scss";

.hero-banner {
  height: 700px;
  overflow: hidden;
  @include small {
    height: 100vh;
  }
  &__img {
    height: 100%;
    overflow: hidden;
    &__el {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__wrapper {
    position: relative;
  }
}
