@import "../../../../core/style/App.scss";

.my-account {
  padding: 64px 0;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    gap: 26px;
  }
  &__inner {
    padding: 36px 78px 58px 72px;
    width: 608px;
  }

  &__title {
    @include font-size(36);
    font-weight: fw(semi-bold);
    margin-bottom: 36px;
  }

  &__form-grup {
    margin-bottom: 36px;
  }
  label {
    font-weight: fw(medium);
    margin-bottom: 22px;
    display: block;
  }
  input:focus {
    border-color: color(primary);
  }
}
