@import "../../../../core/style/App.scss";

.blog {
  &__item {
    background-color: color(secondary);
    margin-bottom: 42px;
  }
  &__img {
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-bottom: 16px;
    transition: all 0.4s ease;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.02) 45%, rgba(0, 0, 0, 0) 50%);
      transition: background-image 0.5s ease;
    }
    &:hover {
      &::after {
        transition: background-image 0.4s ease;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.02) 45%, rgba(0, 0, 0, 0) 50%);
      }
      .blog__img__el {
        scale: 1.03;
      }
    }
    &__el {
      display: block;
      transition: all 0.4s ease;
      height: 100%;
    }
  }
  &__time {
    color: color(grey, 2);
    margin-bottom: 8px;
  }
  &__title {
    @include font-size(30);
    font-weight: fw(medium);
    margin-bottom: 12px;
  }
  &__article {
    @include font-size(14);
    line-height: 1.2;
    color: color(grey, 2);
  }
}
